 
  
 body{
   font-family: Arial, sans-serif;
   font-size:15px;
 }

 h1, h2, h3, h4, h5, h6{
   margin-top: 0;
   margin-bottom: 5px;
}

 .hidden {
    display: none;
 }

 .list-link{
    text-decoration: none;
    color:green;
    width: 125px;
   }
 .list-link:hover {color:yellow;}

.title-background-container{
   display:flex;
   flex-direction:column;
   align-items:center;
   background-color:slategray;
   width:650px;
   border-radius: 15px;
   padding:20px;
}

.master-container{
  display:flex;
  flex-direction: row; /*default*/
  align-items:stretch;
  background-color: orange;
  border-radius:15px;
  border-style:solid;
  border-width:5px;
  width: 650px;
}

.lists-container{
   background-color:plum;
   border-radius:15px;
   width: 250px;
   margin: 10px;
   margin-right:5px;
   margin-left:10px;
   padding:10px;
}
.list-container {
    margin: 10px;
    margin-left:12px;
    padding: 20px;
    background-color: #b3ccff;  /* bluish */
    border-radius: 15px;
    width:350px;
}

.list-content-wrapper, .todo-content-wrapper {
   width:175px;
}

.todo-content-wrapper {
   width:200px;
}

.form-add-todo {
   padding:0px;
   margin:0px;
   width: 275px;
}

.form-add-list {
   padding:0px;
   margin:0px;
   width: 175px;
}

ul {
   list-style: none;
   padding: 0;
   margin: 10px;
   width:220px
}
 
li.list {
   width: 125px;
}

.delete-item-button, .delete-list-button {
   -webkit-appearance: none;
   height: 15px;
   width: 15px;
   float: right;
   color: red;
   margin: 0;
   padding: 0;
   text-align: center;
   border: none;
   outline: none;
   cursor: pointer;
   font-size:15px;
   border-radius:2px;
   background-color:transparent;
   display:inline-block;
}

.checkbox-completed-list, .checkbox-completed-item {
  margin: 0px;
  margin-right: 10px;
  float: left;
}
 
.description {
  width: 200px;
  border-radius: 2px;
}

.rounded-corners {
   border-radius:2px;
}