 
  
 body{
   font-family: Verdana, sans-serif;
 }

 html, body {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: auto;
}

 h1, h2, h3, h4, h5, h6{
   margin-top: 0;
   margin-bottom: 5px;
}

/* to center web site */
.center {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 600px;
 }

#app-title {
   margin:auto;
   vertical-align: middle;
   padding-bottom: 10px;
}

 .hidden {
    display: none;
 }

 .submit_add {
    background-color:transparent;
    cursor:pointer;
    border:none;
    font-size:20px;
    vertical-align:middle;
 }

 .list-link{
    text-decoration: none;
    color:green;
    width: 125px;
   }
 .list-link:hover {color:yellow;}
 .list-link:active { color:yellow;}

.title-background-container{
   display:flex;
   flex-direction:column;
   align-items:center;
   background-color:slategray;
   background-image:url("/static/images/best-free-cherry-blossom-clipart-30.png");
   background-size:cover;
   border-radius: 15px;
   border-style:solid;
   border-color:maroon;
   border-width:3px;
   padding:20px;
   margin:auto;
}

.master-container{
  display:flex;
  flex-direction: row; /*default*/
  align-items:stretch;
 /* background-color: #DB7093; */
  background:linear-gradient(to right, rgba(219,112,147,0.5), rgba(219,112,147,0.5));
  border-radius:15px;
  border-style:solid;
  border-width:2px;
  width: 90%px;
}

.lists-container{
   background-color:lightpink;
   border-radius:15px;
   width: 225px;
   margin: 10px;
   margin-right:5px;
   margin-left:10px;
   padding:10px;
}
.list-container {
    margin: 10px;
    margin-left:12px;
    padding: 10px;
    background-color:#D8BFD8; /* plum;  */
    border-radius: 15px;
    width:225px;
}

.list-content-wrapper, .todo-content-wrapper {
   width:220px;
}

.form-add-todo {
   padding:0px;
   margin:auto;
   width: 85%;
}

.form-add-list {
   padding:0px;
   margin: auto;
   width: 85%;
}

ul {
   list-style: none;
   padding: 0;
   margin: 10px;
   width:220px;
}
 
li.list, li.list-item {
   width: 200px;
   font-size:12px;
}

.delete-item-button, .delete-list-button {
   -webkit-appearance: none;
   height: 15px;
   width: 15px;
   color: red;
   margin: 0;
   padding: 0;
   text-align: center;
   border: none;
   outline: none;
   cursor: pointer;
   font-size:15px;
   border-radius:2px;
   background-color:transparent;
   float: right;
}

.checkbox-completed-list, .checkbox-completed-item {
  margin: 0px;
  margin-right: 10px;
  float: left;
}
 
.description, .listname {
  margin:auto;
  width:75%;
  border-radius: 2px;
  font-size: 9px;
}

input::placehoder {
   opacity:0.25;
   color:lightgray;
}

.rounded-corners {
   border-radius:2px;
}