
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

 .subtitle {
    opacity: 0.5;
    margin-top:10px;
    padding-top:10px;
  }
  
  .profile-title {
    margin-bottom:0px;
  }
  
  a.no-underline{
    border:0px;
    text-decoration:none;
  }
  a:hover{
    color:green;
  }
  .my-icon {
    color:orange;
    font-size:28px;
    vertical-align: top;
    text-decoration:none;
  }
  
  .my-icon:hover {
    color:green;
  }
  .btn-square {
    width:32px;
    height:32px;
    background-color:transparent;
    border:none;
  }
  
  .flex-container-btns {
    display: flex;
    flex-direction: row;
    height:32px;
    flex-wrap: nowrap;
  }
  
  .flex-container-btns > div.icons {
    vertical-align: center;
    text-align: center;
    height: 32px;
    font-size: 32px;
  }
  
  .flex-container-list {
    display:flex;
    flex-direction: row;
    height:auto;
    flex-grow: 1; /* equally sized */
    flex-wrap: nowrap;
  }

  /* remove the blue outline and shadow on the icon-button for edit and delete */
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    box-shadow: none;
  }

  /* use to hide invalid show time message */
  .hidden {
    display: none;
 }

 .show-error-message {
   color: red;
 }

 .info {
   line-height: 80%;
   margin:2px;
 }

 .artist-time-message {
   font-size: 10px;
   color: gray
 }