{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
			<div>
				<div class="flex-container-btns">
				    <div>
						<h1 class="monospace" class="profile-title">
						{{ venue.name }} 
						</h1>	
                    </div>
					<div>
					<a href="/venues/{{ venue.id }}/edit" class="no-underline" style="display:inline; margin-right:5px">
					   <button class="btn btn-sm btn-square" data-toggle="tooltop" title="Edit profile" data-placement="top"><i class="my-icon">&#9998;</i></button>
					</a>
					 
					<button class="btn btn-sm btn-square"  id="delete-venue-button" data-toggle="tooltop" title="Delete profile" data-placement="top" data-id="{{ venue.id }}">
						<span class="my-icon"data-id="{{ venue.id }}">&#x2715;</span>
					</button>
				    </div>
				</div>
				<h6 class="subtitle">Venue ID: {{ venue.id }}</h6>
			</div>
				
		 <div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>


<!--
	DELETE: Use the following to route to DELETE endpoint
	as I am not sure how else to do this right now.  -->
<script type="application/x-javascript">
	
const deleteVenue = document.getElementById('delete-venue-button');	
deleteVenue.onclick = function(e) { 
	const venue_id = e.target.dataset['id'];
	if (venue_id) {
		if (confirm('Are you sure you want to delete venue ',  venue_id,  ' ?') == true) {		//Need to replace with something nicer...
			//console.log("Attempting to delete venue ", venue_id)
			fetch('/venues/' + venue_id + '/delete', {
				method: 'DELETE'
			})
			.then(function(response) {   
			 	console.log(response.ok);
			 	if (response.ok) {
			 	  //console.log ("Returned from app.py delete route");
			 	  window.location.replace("/");
			 	}
		    });
		};
    } ;
};
</script>

{% endblock %}

