.small-img{
   width: 48;
   height: 48px;
   padding-left: 0px;
}

ion-title {
    font-family: 'Playfair Display', serif;  
    font-size: 1.7em;
}

.ion-col-left {
    justify-content: left;
}

ion-label {
    min-height: 100px;
    word-wrap: break-word;
}

