.cup {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: solid 1px black;
    overflow: hidden;
    margin: 15px;
}

.ingredient {
    width: 50px;
    flex-grow: 1;
}